html,
body {
  margin: 0;
  padding: 0;

  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

canvas {
  display: block;
}


div.label:hover {
  opacity: 1 !important;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url(IBMPlexSans-Italic.otf);
}